@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }
}

@media screen and (max-width: 480px) {
    .row {
        display: block;
    }

    .container {
        width: 100%;
    }

    .lessons .col, .steps .col {
        width: 100%;
        margin-bottom: 3rem;
    }

    .why-us .col {
        width: 100%;
    }

    .col-left {
        margin-bottom: 3rem;
    }

    .why-us {
        background-color: #222222;
        padding: 3rem 0;
        margin-bottom: 0;
    }

    .steps {
        margin: 0;
    }
}

@media screen and (min-width: 769px) {
    .container {
        width: 60%;
    }
}